<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <link rel="stylesheet" href="/styles/about.css" />
    <div class="banner">
        <img src="./picaudo/allpbanner01.png">
      </div>
      
      <!--About-->
      <div class="about">
        <div class="row">
              <div class="col-md-6">
                  <div class="abouttext" style="text-align: center;">
                      <a style="font-family:'Century Old Style', serif; font-size: 30px;font-weight: 300px;">About Theo</a>
                      <br><br>
                      <a style="font-weight: 500;">Theo reflects both a century of Danish design tradition and a modern, global outlook that is continually expanding and evolving.</a>
                      <br><br>
                      <a style="font-weight: 500;">Audo’s furniture, lighting and interior accessories are shaped by purposeful details, high-quality materials and human needs, going hand-in-hand with the pursuit to create strong, long-lasting connections and partnerships.</a>
                      <br><br>
                      <a style="font-weight: 500;">Bridging heritage and contemporary design, Danish roots and global ambition, people and projects around the world, Theo designs are catalysts for creativity and communal innovation.</a>
                  </div>
              </div>
      
              <div class="col-md-6">
              <img src="./picaudo/abt01.png" style="width: 100%;">
              </div>
          </div>
      
          <div class="row" style="padding-top: 50px;">
              <div class="col-md-6">
                  <img src="./picaudo/abt02.webp" style="width: 100%;">
                  </div>
          
              <div class="col-md-6">
                  <div class="abouttext" style="text-align: center;">
                      <a style="font-family:'Century Old Style', serif; font-size: 30px;font-weight: 300px;">A Sense of Community</a>
                      <br><br>
                      <a style="font-weight: 500;">Nothing is more precious than human connection. Wherever there is space, there is always an opportunity for community. Every Theo design is made to serve a function with deep form and feeling, allowing each of us to create a sense of community wherever we are in the world. Mixing and matching heritage and contemporary designs with personal keepsakes, each of us assembles unique interior landscapes where life unfolds and the future is born. Our quest to create a sense of community awards a higher value to the objects and spaces we occupy. A sense of community empowers us to create better. </a>
                  </div>
              </div>
          </div>
      
          <div class="row" style="padding-top: 50px;">
              <div class="col-md-6">
                  <div class="abouttext" style="text-align: center;">
                      <a style="font-family:'Century Old Style', serif; font-size: 30px;font-weight: 300px;">Our Community</a>
                      <br><br>
                      <a style="font-weight: 500;">Wherever there’s space, there’s opportunity for community.</a>
                      <br><br>
                      <a style="font-weight: 500;">Our name reflects our close connection with Theo House, a unique concept in Copenhagen that opened in 2019 masterfully uniting event facilities, a café, restaurant and concept shop, as well as an exclusive residence in a single, community-building universe. Today, Audo’s showroom and headquarters is located in this reimagined historic building. Redefining how we use design, space and ultimately how we connect to one another, the creative destination reflects Audo’s collaborative spirit and is a hub for powerful ideas and our sense of community.</a>
                  </div>
              </div>
      
              <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.934062194959!2d12.591802913267497!3d55.70751789536506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465252e95ebc6e41%3A0x20a70dbdcc9998f2!2zw4VyaHVzZ2FkZSAxMzAsIDIxNTAgS8O4YmVuaGF2biwg5Li56bql!5e0!3m2!1szh-TW!2shk!4v1737887405783!5m2!1szh-TW!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
      
      
      </div>
  </main>
<%- include('../../shared/includes/footer') %>