
<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Payment Failed</h1>
    <p>Please contact support, your payment could not be processed</p>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>
