
<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Payment Successful</h1>
    <p>Your can visit <a href="/orders">the orders page</a> to view your orders</p>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>
