</body>
<div class="footer">
    <h1>THEO</h1>
    <br />
    <p style="margin-bottom: 0; font-size: 10px">
      Audo A/S, Aarhusgade 130, Floor 1, 2150 Nordhavn, Denmark
      <br />
      CVR: 15214236, info@audocph.com
    </p>
    <br />
  </div>
</html>