/* banner */

.banner img {
  width: 100%;
  display: block;
}

#banner {
  position: relative;
  height: 500px;
}
#banner ul#b_pic li {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  display: none;
}

#banner ul#b_pic li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#banner ul#b_an {
  position: absolute;
  width: 100%;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner ul#b_an li {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background: #86939b;
  margin: 0 3px;
}

.bannertext {
  background-color: #965a3e;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  height: 500px;
  margin-top: 1rem;
  padding: 30% 20% 30% 20%;
}

.content {
  padding: 30px 5% 0 5%;
  /* margin-top: -1rem; */
}

.content .tit {
  border-bottom: 2px solid #965a3e;
}

.content .tit span {
  line-height: 38px;
  width: 220px;
  color: #f5f3eb;
  background: #965a3e;
  display: block;
  font-size: 16px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.product_list {
  padding-bottom: 30px;
}

.product_list .word {
  padding: 10px 0;
  color: #965a3e;
}

.product_list .word span {
  color: #965a3e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  display: block;
}

.product_list .a1 {
  width: 100%;
  float: none;
  margin-left: 20px;
}

.product_list .a1 li {
  width: 225px;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}
.product_list .a1 li img {
  width: 100%;
  display: block;
  height: 307px;
}

.img {
  border-radius: 10px;
}

.img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
