<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<script src="scripts/js/lunbo.js" type="text/javascript"></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <link rel="stylesheet" href="/styles/home.css" />
    <div class="banner">
      <div class="row">
        <div class="col-md-9" style="padding-right: 0; margin-top: 0rem">
          <div class="banner" id="banner">
            <ul id="b_pic">
              <li style="display: block">
                <img src="./picaudo/audobanner1.png" alt="" />
              </li>
              <li style="display: none">
                <img src="./picaudo/audobanner2.png" alt="" />
              </li>
              <li style="display: none">
                <img src="./picaudo/audobanner3.png" alt="" />
              </li>
            </ul>
            <ul id="b_an">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div
          class="col-md-3"
          style="padding-left: 0; margin-top: -1rem; vertical-align: middle"
        >
          <div class="bannertext">
            <p
              style="
                font-family: 'Century Old Style', serif;
                font-size: 60px;
                font-weight: 300px;
                color: #f5f3eb;
              "
            >
              Theo
            </p>
            <p
              style="
                font-family: 'Grot 12', sans-serif;
                font-weight: 300px;
                color: #f5f3eb;
              "
            >
              COPENHAGEN
            </p>
            <br />
            <p
              style="
                font-family: 'Grot 12', sans-serif;
                font-weight: 300px;
                font-style: italic;
                color: #f5f3eb;
              "
            >
              "We create
              <br />
              both beautiful and functional
              <br />
              lighting."
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--PRODUCT LIST-->
    <div class="content wrapin">
      <div class="product_list">
        <h3 class="tit"><span>2025 SPRING COLLECTION</span></h3>
        <div class="row">
          <div class="col-md-3">
            <div>
              <a href="/products/6795df576337ef499e18e6a9">
                <img
                  src="./picaudo/audop1.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795df576337ef499e18e6a9"" style="color: #965a3e"
                >HASHIRA CEILING LAMP, RAW</a
              >
              <span>$455</span>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <a href="/products/6795e1846337ef499e18e6ab">
                <img
                  src="./picaudo/audop2.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e1846337ef499e18e6ab" style="color: #965a3e"
                >DANCING PENDANT LAMP</a
              >
              <span>$710</span>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <a href="/products/6795e2446337ef499e18e6ac">
                <img
                  src="./picaudo/audop3.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e2446337ef499e18e6ac" style="color: #965a3e"
                >HASHIRA PENDANT LAMP, CLUSTER</a
              >
              <span>$210</span>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <a href="/products/6795e2a06337ef499e18e6ad">
                <img
                  src="./picaudo/audop4.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e2a06337ef499e18e6ad" style="color: #965a3e"
                >TUBULAIRE PENRANT CANOPY,3</a
              >
              <span>$665</span>
            </div>
          </div>
        </div>
      </div>

      <div class="product_list">
        <h3 class="tit"><span>CLASSIC COLLECTION</span></h3>

        <div class="row">
          <div class="col-md-3">
            <div>
              <a href="/products/6795e35e6337ef499e18e6ae">
                <img
                  src="./picaudo/audop5.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e35e6337ef499e18e6ae" style="color: #965a3e"
                >COLLECTOR CHANDELIER,5</a
              >
              <span>$505</span>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <a href="/products/6795e8626337ef499e18e6af">
                <img
                  src="./picaudo/audop6.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e8626337ef499e18e6af" style="color: #965a3e"
                >LEVITATE PENDRANT</a
              >
              <span>$360</span>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <a href="/products/6795e97b6337ef499e18e6b0">
                <img
                  src="./picaudo/audop7.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e97b6337ef499e18e6b0" style="color: #965a3e"
                >CARRIE TABLE LAMP, PORTABLE</a
              >
              <span>$215</span>
            </div>
          </div>

          <div class="col-md-3">
            <div>
              <a href="/products/6795e9d36337ef499e18e6b1">
                <img
                  src="./picaudo/audop8.png"
                  class="img"
                  style="width: 100%"
                />
              </a>
            </div>
            <div class="word">
              <a href="/products/6795e9d36337ef499e18e6b1" style="color: #965a3e"
                >TORSO TABLE LAMP, 37, LIMITED</a
              >
              <span>$520</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <img src="./picaudo/GS_6_1024x1024.jpg" style="width: 100%" />
      </div>
    </div>
  </main>
<%- include('../../shared/includes/footer') %>